<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

 <mapper namespace="com.cares.boot3.product.ProductMapper">
 	<insert id="setAdd" parameterType="ProductVO" useGeneratedKeys="true" keyProperty="productNum">
 		INSERT INTO PRODUCT
 		VALUES(#{productNum}, #{productName}, #{productPrice}, #{productCount}, #{productDetail})
 	</insert>

 	<insert id="setFileAdd" parameterType="ProductFilesVO">
 		INSERT INTO PRODUCTFILES
 		VALUES(NULL, #{productNum}, #{fileName}, #{oriName})
 	</insert>

 	<select id="getList" parameterType="Pager" resultType="ProductVO">
		SELECT * 
		FROM (SELECT * FROM PRODUCT WHERE PRODUCTNUM > 0 
			  ORDER BY PRODUCTNUM DESC LIMIT #{startRow}, #{lastRow}) P
		LEFT JOIN PRODUCTFILES F
		USING (PRODUCTNUM)
		ORDER BY PRODUCTNUM DESC		
 	</select>

 </mapper>   